Package: com.nathggns.FasterBalance
Name: FasterBalance
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Speed up the HSBC Faster Balance by skipping the starting ad.
Maintainer: nathggns
Author: nathggns
Section: Tweaks
